{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["flowtype"],
  "env": {
    "browser": true
  },
  "globals": {
    "Action": false,
    "__DEV__": false,
    "__PROD__": false,
    "__DEBUG__": false,
    "__DEBUG_NEW_WINDOW__": false,
    "__BASENAME__": false,
    "Stripe": false,
    "jest": true,
    "it": true,
    "xit": true,
    "fit": true,
    "describe": true,
    "xdescribe": true,
    "fdescribe": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "beforeAll": true,
    "afterAll": true
  },
  "rules": {
    "react/sort-comp": false,
    "react/jsx-curly-spacing": [0, "always"],
    "react/forbid-prop-types": [2, { "forbid": ["array"] }],
    "react/require-default-props": 0,
    "semi": [0, "never"],
    "space-infix-ops": 0,
    "max-len": [2, 120, 2],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "new-cap": [2, { "capIsNewExceptions": ["Record", "Map", "List", "Array"] }],

    "prefer-template": 1,

    "comma-dangle": [0, "never"],
    "camelcase": 0,
    "jsx-quotes": [0, "prefer-double"],
    "template-curly-spacing": [0, "never"],
    "dot-notation": 0,
    "arrow-body-style": [0, "as-needed"],
    "arrow-parens": 0,
    "quotes": 0,
    "array-bracket-spacing": [0, "always"],
    "radix": 0,
    "no-unused-vars": [2, { "args": "none" }],
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "no-plusplus": 0,
    "react/no-array-index-key": 0,
    "object-curly-newline": 0,
    "no-shadow": 0,
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/label-has-for": ["off"],
    "consistent-return": 0,
    "no-mixed-operators": 0,
    "function-paren-newline": ["error", "consistent"]
  }
}
